<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>결과</title>
	</head>
	<body>
		<form method="post" th:object="${product}" action="/ch09/exam01">
			<p>품명: <input type="text" name="name" th:field="*{name}">
				<span th:errors="*{name}"></span>
			</p>
			<p>가격: <input type="text" name="price" th:field="*{price}">
				<span th:errors = "*{price}"></span>
			</p>
			<p> <input type="submit" value="확인"></p>
		</form>
		<!--th:object는 도메인 객체, th:field는 도메인 객체의 멤버변수, th:errors는 유효성 검사에 오류 메시지 찍어주는 공간-->
	</body>
</html>